.calendar {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  th {
    border-bottom: 1px solid #ddd;
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
  }
  
  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  
  td {
    &[data-start="true"] {
      background-color: #f0f0f0;
    }
    
    &[data-end="true"] {
      background-color: #c1c1c1;
    }
    
    &[data-in-range="true"] {
      background: green;
    }
  }
}